<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Minders - Marketing</title>
    </head>
    <body>
        <p>Hello,</p>

        <p>
            I hope this email finds you well. We would like to invite you to attend the "First Step" event, which is designed
            specifically for students who have recently been accepted into the faculty of Computers and Artificial Intelligence
            and are eager to explore the various specializations and fields within the faculty.
        </p>

        <p>
            To register for the event, please take a moment to fill out this form before the event:
            https://forms.gle/PCQUy4oRN7WZ4SRJA. Your participation is important to us, and filling out the form is necessary
            for organizational purposes.
        </p>

        <p>
            Date: Thursday, September 21
        </p>

        <p>
            Venue: Jalal al-Din al-Sharqawi Theater, located in downtown, next to Gamal Abdel Nasser Station. You can find the
            location on Google Maps: https://maps.app.goo.gl/fuEhARXdNzaA2TvSA
        </p>

        <p>
            For more details about the event and to stay updated, please visit our Facebook event page:
            https://facebook.com/events/s/minders23-first-step-style-you/854656739084777/
        </p>

        <p>
            It's important to note that this event is completely free of charge. We encourage you to take advantage of this
            opportunity to expand your knowledge and make informed decisions about your academic journey.
        </p>

        <p>
            If you have any questions or require further information, please don't hesitate to reach out to us. We are here to
            assist you.
        </p>

        <p>
            We look forward to welcoming you at the "First Step" event and helping you shape a successful future in the exciting
            field of computer science.
        </p>

        <p>Best regards,</p>

        <p> Minders HR</p>

    </body>
</html>