<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Minders - Ticket</title>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/metropolis" type="text/css"/>
    </head>
    <body>
        <p>
            Dear Applicant,
        </p>

        <p>
            We are delighted to welcome you to First Step event. We want to express our excitement and gratitude for your
            participation in this special event.
        </p>

        <p>
            We would like to remind you about First Step Event that will take place at the Jalal al-Din al-Sharqawi Theater on
            <strong>
                Thursday 21/9/2023
            </strong>
            . Your presence and contributions will undoubtedly enhance the overall experience
            for all attendees at this remarkable event. First Step promises to be an inspiring and engaging gathering,
            bringing together industry experts, thought leaders, and passionate individuals like yourself.
        </p>

        <p>
            To ensure smooth entry into the event.
            <strong>
                We have attached to this email, you will find your ticket with a
                personalized QR code. Please have it ready for scanning upon arrival at the venue.
            </strong>
        </p>

        <p>
            We encourage you to arrive half an hour before the appointment so that you have enough time to settle in before the
            event begins.
        </p>

        <p>
            In case you have any questions or require further information, please do not hesitate to reach out to our event
            team.
        </p>

        <p>
            We can't wait to see you at First Step! Your presence will contribute significantly to the success of the event and
            make it truly memorable.
        </p>

        <div style="width: 100%">
            <img src="cid:main_ticket" alt="" width="100%"/>
        </div>

        <div style="width: 100%">
            <div style="height: 15%">
                <img src="cid:minders_logo" alt="" style="float: left" width="15%"/>
                <img src="cid:first_step_logo" alt="" style="float: right" width="15%"/>
            </div>
        </div>
        <div style="width: 100%">
            <div style="
                      font-family: 'MetropolisRegular',serif;
                      margin: 0 auto;
                      width: 70%;
                      padding-top: 15%;
                    ">
                <div style="margin: 0 auto; width: 80%">
                    <img src="cid:admit_one" alt="" style="width: 100%"/>
                </div>
                <img src="cid:qr_code" alt="" style="width: 100%"/>
                <div style="margin: 0 auto; width: 90%">
                    <img src="cid:scan_me" alt="" style="width: 100%"/>
                </div>
            </div>
        </div>

        Warm regards,
        Minders HR
    </body>
</html>